<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">

</head>
<body>

<div class="dashboard-container">
    <h1>User Dashboard</h1>
    <p><strong>Username:</strong> <span th:text="${username}"></span></p>

    <div class="dashboard-buttons">
        <a th:href="@{/public/cart/show/my-cart}" class="dashboard-button">Show My Cart</a>
        <a th:href="@{/public/cart/add/my-cart}" class="dashboard-button">Add My Cart</a>
        <a th:href="@{/public/order/show/my-orders}" class="dashboard-button">Show My Orders</a>
        <a th:href="@{/public/show/all/products}" class="dashboard-button">Show All Products</a>
        <a th:href="@{/public/show/all/categories}" class="dashboard-button">Show All Categories</a>
        <a th:href="@{/auth/login}" class="dashboard-button logout-button">Logout</a>
    </div>
</div>

</body>
</html>
