<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .logout-button {
            background-color: #ff4d4d;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.3s;
            width: 10%;
        }

        .logout-button:hover {
            background-color: #cc0000;
        }

        .logout-button:active {
            transform: scale(0.95);
        }
    </style>
</head>
<body>

<h1>Welcome!</h1>

<p><strong>Username:</strong> <span th:text="${username}"></span></p>


<h2>Token Info</h2>

<p><strong>JWT Token:</strong></p>
<label>
    <textarea th:text="${jwtToken}" readonly></textarea>
</label>

<p><strong>Refresh Token:</strong></p>
<label>
    <textarea th:text="${refreshToken}" readonly></textarea>
</label>

<br><br>
<form th:action="@{/auth/login}" method="get" class="logout-form">
    <button type="submit" class="logout-button">Logout</button>
</form>
</body>
</html>
